<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="utopia.css">
  <link rel="stylesheet" href="snapshots.css">
</head>
<body>
  <h1><%= title %></h1>
  <% images.each do |image| %>
  <div class="snapshot">
    <h2><%= image[:entry].name %></h2>
    <code class="path"><%= image[:entry].path %><%= " #{image[:entry].selector}" if image[:entry].selector %></code>
    <img src="<%= image[:filename] %>" alt="<%= image[:entry].name %>">
  </div>
  <% end %>
</body>
</html>
