<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="utopia.css">
  <link rel="stylesheet" href="snapshots.css">
</head>
<body>
  <h1><%= title %></h1>
  <% images.each do |image| %>
  <div class="snapshot">
    <h2><%= image[:name] %><% if image[:path] %> <code><%= image[:path] %></code><% end %></h2>
    <img src="<%= image[:filename] %>" alt="<%= image[:name] %>">
  </div>
  <% end %>
</body>
</html>
